:root {
    --p-dark: rgb(11, 26, 44);
    --p-yellow: #fff126;
    --p-dark-yellow: #fca400;
    
}



body {
    background-color: var(--p-dark);
    margin-top: 10px;
    color: var(--p-yellow);
    font-family: 'Poppins', sans-serif;
    cursor: default;
}
h1{
    background-color: #fff126;
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: var(--p-dark);
}
.container {
    padding: 3rem;
    padding-top: 0.5rem;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column;
    
}

#check {
    margin: 1rem;
    text-decoration: none;
}

label {
    margin: 0.4rem;
}

input {
    border-radius: 10px;
    outline: none;
    border: 0;
    margin-bottom: 2rem;
    width: 20%;
    padding: 0.4rem;
}

button {
    background-color: var(--p-yellow);
    border: 0;
    color: var(--p-dark);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    /* border-color: white; */
    /* border-width: 0.25rem; */
    outline: none;
    transition: all 0.5s ease;
    cursor: pointer;
    
}
button:hover{
    background-color: var(--p-dark-yellow);
    color: black;
}
hr {
    width: 25%;
    background-color: var(--p-yellow);
}

.footer {
    background-color: var(--p-yellow);
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: var(--p-dark);
    border-radius: 10px;
}

.links {
    text-decoration: none;
    color: var(--p-dark);
    padding: 5px
}

.social-links {
    margin-top: 10px;
}

.social {
    cursor: pointer;
    color: black;
}