:root {
    --p-dark: rgb(11, 26, 44);
    --p-yellow: #fff126;
    --p-dark-yellow: #dac402;
    
}



body {
    background-color: var(--p-dark);
    color: var(--p-yellow);
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 3rem;
    /* background-color: aquamarine; */
    display: flex;
    /* width: 80vw; */
    align-items: center;
    text-align: center;
    flex-flow: column;

}

#check {
    margin: 1rem;
    text-decoration: none;
}

label {
    margin: 0.4rem;
}

input {
    margin-bottom: 2rem;
    width: 20%;
    padding: 0.4rem;
}

button {
    background-color: var(--p-yellow);
    color: var(--p-dark);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    border-color: white;
    border-width: 0.25rem;
    
}
button:hover{
    background-color: var(--p-dark-yellow);
    /* border-radius: 50%; */
    color: black;
}
hr {
    width: 25%;
    background-color: var(--p-yellow);
}